
.wrapper {
  //max-width: 1120px; //tezt
  margin: 0 auto;
  width: 100%;
  position: relative;

  &--hide {
    &::after {
      display: block;
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      z-index: 5;
      width: 100vw;
      height: 100vh;
      opacity: 0.9605;
      background-color: $bgMenu;
    }
  }

  &--modal-opened {
    &::after {
      display: block;
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      z-index: 13;
      width: 100vw;
      height: 100vh;
      opacity: 0.9605;
      background-color: $bgMenu;
    }
  }
}
